In [22]:
import pandas as pd
# Lee solo hasta la fila 645
ds = pd.read_csv('./data/Censo_ESPOL_La Unión_2022 - ACTUALIZADO AL 18 JULIO 22(1)(COPIA TABLA LU).csv', encoding='latin1', nrows=645,delimiter=';')
ds.head()

,Practicante,Cï¿½digo de la casa,Apellidos,Nombres,Cï¿½dula,ï¿½Es jefe de hogar?,Parentesco (con respecto al jefe de hogar),Sexo,Edad 2022,Edad 03/2017,...,VESTIDOS,TRANSPORTE,OTROS GASTOS,"CONFIRMACION CURSO (1:SI, 2:NO)",PARENTESCO2,TIPO DE CURSO,PARA CONTAR LOS 643 habitantes,MENOR O MAYOR DE EDAD,TERCERA EDAD,OTRA EMPRESA
0,AGUIRRE MARCO,100.0,Achiote Dominguez,Andreina Katherine,928818327.0,1,1,2,25,20,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,MAYOR DE EDAD,NO ES TERCERA EDAD,SI
1,AGUIRRE MARCO,100.0,Cruz Torres,Arelis Angelina,958390536.0,2,2,2,8,3,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,MENOR DE EDAD,NO ES TERCERA EDAD,NaN
2,AGUIRRE MARCO,100.0,Cruz Torres,Kimberly Kathiuska,960691251.0,2,2,2,6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,MENOR DE EDAD,NO ES TERCERA EDAD,NaN
3,AGUIRRE MARCO,100.0,Cruz Achiote,Yarezi Francesca,964403760.0,2,2,2,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,MENOR DE EDAD,NO ES TERCERA EDAD,NaN
4,AGUIRRE MARCO,100.0,Cruz Torres,Mayerly Maite,954451811.0,2,2,2,10,5,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,MENOR DE EDAD,NO ES TERCERA EDAD,NaN